/* Home css*/
.Home>* {
}

.Home>.overview {
}

.Home .background_shadow_padding {
    background-color: white;
    box-shadow: 0 0 10px 5px #EBEBEB;
    padding: 30px 40px;
}

.Home>.overview>.header {
    display: flex;
}

.Home>.overview>.header>label {
    margin-bottom: 0;
}

.Home>.overview>.header>.timeinfo {
    margin-left: auto;
}

.Home>.overview>.list{
    display: flex;
}

.Home>.overview>.list>.item{
    display: flex;
    position: relative;
    flex-direction: column;
    width: calc(100% / 3);
    margin-right: 20px;
}

.Home>.overview>.list>.item:last-child{
    margin-right: 0px;
}

.Home>.overview>.list>.item>* {
    display: block;
    margin: auto auto;
}

.Home>.overview>.list>.item .fas{
    margin-right: 8px;
}

.Home>.overview>.list>.item>.red {
    color: #D0021B;
}

.Home>.overview>.list>.item>.green {
    color: #7ED321;
}

.Home>.overview>.list>.item>.blue {
    color: #4A90E2;
}

.Home>.overview>.list>.item>label:nth-child(1){
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 16px;
}

.Home>.overview>.list>.item>label:nth-child(2) {
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
}

.Home>.activity {
    margin: 20px auto;
}

.Home>.activity>.title {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}

.Home>.trans_latest {
    display: flex;
}

.Home>.trans_latest>* {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 20px;
}

.Home>.trans_latest>*:last-child {
    margin-right: 0;
}

.Home>.trans_latest .title {
    margin-bottom: 30px;
}